body
{
    background-size: cover;
    text-align: center;
}
.heading
{
    width: 100%;
    font-size: 23px;
    margin-top: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
.ply
{
    border-radius: 50px;
    margin-top: 20px;
}
canvas{
    border-color: chartreuse;
    background-color: crimson;
    margin: 20px;
}